USE [master]
GO
/****** Object:  Database [QL_HOADON]    Script Date: 10/12/2015 15:51:55 ******/
CREATE DATABASE [QL_HOADON] ON  PRIMARY 
( NAME = N'QL_HOADON', FILENAME = N'E:\Tuyen\QL_HOADON.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_HOADON_log', FILENAME = N'E:\Tuyen\QL_HOADON_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_HOADON].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_HOADON]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 10/12/2015 15:51:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [smallint] NOT NULL,
	[TenSP] [nvarchar](40) NULL,
	[DonViTinh] [nvarchar](10) NULL,
	[DonGia] [money] NULL,
	[SoLuongTon] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonViTinh], [DonGia], [SoLuongTon]) VALUES (1, N'rượu', N'CHAI', 230.5000, NULL)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonViTinh], [DonGia], [SoLuongTon]) VALUES (2, N'GIA VỊ', N'THÙNG', 40.0000, NULL)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonViTinh], [DonGia], [SoLuongTon]) VALUES (3, N'BÁNH KEM', N'CÁI', 2.0000, NULL)
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/12/2015 15:51:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] NOT NULL,
	[HoNV] [nvarchar](25) NULL,
	[TenNV] [nvarchar](10) NOT NULL,
	[Phai] [bit] NOT NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](14) NULL,
	[Hinh] [image] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenNV], [Phai], [NgaySinh], [DiaChi], [DienThoai], [Hinh]) VALUES (1, N'Nguyễn Ngọc', N'nga', 0, CAST(0x00005CA700000000 AS DateTime), N'13 Hùng Vương P4 Q5', N'5465465', NULL)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenNV], [Phai], [NgaySinh], [DiaChi], [DienThoai], [Hinh]) VALUES (2, N'hà Vĩnh Phát', N'phát', 1, CAST(0x0000720A00000000 AS DateTime), N'89 Đồng Khởi Q1', N'   8767461', NULL)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenNV], [Phai], [NgaySinh], [DiaChi], [DienThoai], [Hinh]) VALUES (3, N'Trần tuyết', N'oanh', 0, CAST(0x00005FD000000000 AS DateTime), N'45 Lê Qúy Đôn Q3', N'   5465465', NULL)
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/12/2015 15:51:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](10) NOT NULL,
	[TenKH] [nvarchar](25) NULL,
	[DiaChi] [nvarchar](40) NULL,
	[ThanhPho] [nvarchar](10) NULL,
	[DienThoai] [nvarchar](14) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [ThanhPho], [DienThoai]) VALUES (N'bsco', N'CT CHỨNG KHOÁN NHĐT&PTVN', N'146 Nguyễn Công Trứ Q1', N'Sài gòn', N'   8218509')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [ThanhPho], [DienThoai]) VALUES (N'cinotec', N'điện toán sài gòn', N'43 Yết Kiêu P6 Q3', N'Sài gòn', N'   7931752')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [ThanhPho], [DienThoai]) VALUES (N'comeco', N'vật tư thiết bị vận tải', N'226 An Dương Vương P11 Q11', NULL, N'   8456781')
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/12/2015 15:51:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [nvarchar](5) NOT NULL,
	[MaKH] [nvarchar](10) NULL,
	[MaNV] [int] NOT NULL,
	[NgayLapHD] [date] NULL,
	[NgayGiaoHang] [date] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [NgayLapHD], [NgayGiaoHang]) VALUES (N'10148', N'FAHASA', 2, CAST(0x23310B00 AS Date), CAST(0x2D310B00 AS Date))
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [NgayLapHD], [NgayGiaoHang]) VALUES (N'10149', N'BSCO', 1, CAST(0x2D320B00 AS Date), CAST(0x3B320B00 AS Date))
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [NgayLapHD], [NgayGiaoHang]) VALUES (N'10150', N'hunsan', 4, CAST(0x59310B00 AS Date), CAST(0x92310B00 AS Date))
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 10/12/2015 15:51:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MaHD] [nvarchar](5) NOT NULL,
	[MaSP] [smallint] NOT NULL,
	[SoLuong] [smallint] NULL,
	[DonGiaBan] [money] NULL,
 CONSTRAINT [PK_CTHOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHOADON] ([MaHD], [MaSP], [SoLuong], [DonGiaBan]) VALUES (N'10148', 3, 20, 2.1000)
INSERT [dbo].[CTHOADON] ([MaHD], [MaSP], [SoLuong], [DonGiaBan]) VALUES (N'10148', 4, 30, 15.7500)
INSERT [dbo].[CTHOADON] ([MaHD], [MaSP], [SoLuong], [DonGiaBan]) VALUES (N'10148', 9, 20, 12.6000)
/****** Object:  ForeignKey [FK_HOADON_KHACHHANG]    Script Date: 10/12/2015 15:51:57 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_HOADON_NHANVIEN]    Script Date: 10/12/2015 15:51:57 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_CTHOADON_HOADON]    Script Date: 10/12/2015 15:51:57 ******/
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HOADON]
GO
/****** Object:  ForeignKey [FK_CTHOADON_SANPHAM]    Script Date: 10/12/2015 15:51:57 ******/
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_SANPHAM]
GO
